/*font*/
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Noto+Sans+KR:wght@300;400;500;700&family=Poppins:wght@200;300;400;500;600&display=swap');
body{
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.025em;
}

.blind {position: absolute; width:1px; height: 1px; margin:-1px; overflow:hidden; clip: rect(0,0,0,0);}
.ta_lt {text-align: left;}
.ta_ctr {text-align: center;}
.ta_rt {text-align: right;}