.container {overflow: hidden;}
section {background:#fff;}
.sec1{background: #d6d6ff; }

/* 기본타입 - left */
.text_area .sub_text {font-size:16px; line-height: 36px;}
.text_area .main_text {font-size:27px; line-height:36px; font-weight: bold;}
/* 중앙정렬 타입 */
.ta_ctr .main_text {font-size:20px; line-height: 26px;}
.ta_ctr .sub_text {font-size:15px; line-height: 21px; color: #666; margin-top:10px;}

/* 더미이미지 처리 */
.header_dummy img{width:100%; height:100%; object-fit: cover;}
.footer_dummy img{width:100%; height: 100%; object-fit: cover;}


/*mobile*/
@media screen and (max-width:720px) {
.sec1 {height: 449px; position:relative;}
.sec1 .text_area{ padding:35px 32px;}
.sec1 .img_area img {opacity: 0; }
.sec1 .img_area img.on {opacity: 1;}
.sec1 .img_area .img_01 { width:100%; max-width:360px; position:absolute; bottom:0; right:0; transition:0.1s;}
.sec1 .img_area .img_02 { width:100%; max-width:114px; position: absolute; top:50%; right:144px; transition:3s; 
    transform: translateY(-50%); /* W3C */
    -webkit-transform: translateY(-50%); /* Safari & Chrome */
    -moz-transform: translateY(-50%); /* Firefox */
    -ms-transform: translateY(-50%); /* Internet Explorer */
    -o-transform: translateY(-50%); /* Opera */
}
.sec1 .img_area .img_03 { width:100%; max-width:85px; position: absolute; top:266px; right:53px; transition:8s}

.sec2 {padding:65px 20px;}
.sec2 .img_area{margin-top:48px; height:223px;}
.sec2 .img_area img{ width:calc(33% - 10px); margin:0 5px; float:left; }
.sec2 .img_area img.ico_02{transition: 0.3s;}
.sec2 .img_area img.ico_02.on{
    transform: scale(1.6); /* W3C */
    -webkit-transform: scale(1.6); /* Safari & Chrome */
    -moz-transform: scale(1.6); /* Firefox */
    -ms-transform: scale(1.6); /* Internet Explorer */
    -o-transform: scale(1.6); /* Opera */
}
.sec2 .img_area img:nth-child(n+4) {margin-top:8px;}

.sec3 {background:#f4f4f4; padding:40px 30px; position:relative; }
.sec3 .img_area {height: 223px; margin-top:25px;}
.sec3 .img_area img, .sec4 .img_area img {opacity: 0; }
.sec3 .img_area img.on, .sec4 .img_area img.on  {opacity: 1;}
.sec3 .img_area .img_01 { max-width:173px; position:absolute; bottom:45px;  left:50%; transition:0.5s; z-index: 15;
    transform: translateX(-50%); /* W3C */
    -webkit-transform: translateX(-50%); /* Safari & Chrome */
    -moz-transform: translateX(-50%); /* Firefox */
    -ms-transform: translateX(-50%); /* Internet Explorer */
    -o-transform: translateX(-50%); /* Opera */
}
.sec3 .img_area .img_02 { max-width:205px; position: absolute; bottom:45px; left:56%; transition:1s; z-index: 5;
    transform: translateX(-50%); /* W3C */
    -webkit-transform: translateX(-50%); /* Safari & Chrome */
    -moz-transform: translateX(-50%); /* Firefox */
    -ms-transform: translateX(-50%); /* Internet Explorer */
    -o-transform: translateX(-50%); /* Opera */
}
.sec3 .img_area .img_03 { max-width:197px; position: absolute; bottom:45px; left:57%; transition:2s; z-index: 10;
    transform: translateX(-50%); /* W3C */
    -webkit-transform: translateX(-50%); /* Safari & Chrome */
    -moz-transform: translateX(-50%); /* Firefox */
    -ms-transform: translateX(-50%); /* Internet Explorer */
    -o-transform: translateX(-50%); /* Opera */
}

.sec4 {padding: 65px 30px; }
.sec4 .img_area {height: 270px; position: relative; margin-top:20px;}
.sec4 .img_area .img_01 { max-width:213px; position:absolute; bottom:0; left:50%; transition:0.5s; z-index: 15;
    transform: translateX(-50%); /* W3C */
    -webkit-transform: translateX(-50%); /* Safari & Chrome */
    -moz-transform: translateX(-50%); /* Firefox */
    -ms-transform: translateX(-50%); /* Internet Explorer */
    -o-transform: translateX(-50%); /* Opera */
}
.sec4 .img_area .img_02 { max-width:127px; position: absolute; top:0; right:calc(20% - 5px); transition:1.5s; z-index: 12; }
.sec4 .img_area .img_02.on {top:60px;}
.sec4 .img_area .img_03 { width:100%; max-width:218px;position: absolute; top:0; left:50%; transition:2s;
    transform: translateX(-50%); /* W3C */
    -webkit-transform: translateX(-50%); /* Safari & Chrome */
    -moz-transform: translateX(-50%); /* Firefox */
    -ms-transform: translateX(-50%); /* Internet Explorer */
    -o-transform: translateX(-50%); /* Opera */
}
.sec4 .img_area .img_03.on {top:12px;}
.sec4 .img_area .img_04 { width:100%; max-width:118px; position: absolute; top:0; left:calc(20% - 5px); transition:1s; z-index: 10;}
.sec4 .img_area .img_04.on {top:18px;}
.sec4 .img_area .img_05 { width:213px; position: absolute; top:143px; left:50%; transition:0.5s; z-index: 5;
    transform: translate(-50%, -50%); /* W3C */
    -webkit-transform: translate(-50%, -50%); /* Safari & Chrome */
    -moz-transform: translate(-50%, -50%);  /* Firefox */
    -ms-transform: translate(-50%, -50%);  /* Internet Explorer */
    -o-transform: translate(-50%, -50%);  /* Opera */
}

.sec5 {background:#f4f4f4;}
.sec5 .text_box_wrap {padding:40px 16px;}
.sec5 .text_box_wrap .text_area .intro_text {font-size:15px; line-height: 21px;}
.sec5 .text_box_wrap .text_area .intro_text strong{ color:#000; font-weight: bold; position: relative;}
.sec5 .text_box_wrap .text_area .intro_text strong::before {content:''; width:110px; height:8px; background:#e81953; opacity: 0.2; display: inline-block; position:absolute; top:10px;}
.sec5 .text_box_wrap .intro_section .sec_box{display: flex; justify-content: center; flex-direction: column; align-items: center; margin:30px 0 16px;}
.sec5 .text_box_wrap .intro_section .sec_box .sec_icon{margin-bottom: 10px;}
.sec5 .text_box_wrap .intro_section .sec_box .sec_icon img{width:24px;}
.sec5 .text_box_wrap .intro_section .sec_box .sec_title{font-size:15px; font-weight: bold;}
.sec5 .text_box_wrap .intro_section .recommend_box ul li{background: #fff; border-radius:8px; padding:15px; font-size: 14px; text-align: center; position:relative; }
.sec5 .text_box_wrap .intro_section .recommend_box ul li::before{content:''; width:27px; height:20px; display: inline-block; background-image:url('../images/icon_check.png'); background-size:50%; background-repeat: no-repeat; position: absolute; top:60%; left:15px;
    transform: translateY(-50%);   /* W3C */
    -webkit-transform:translateY(-50%);/* Safari & Chrome */
    -moz-transform: translateY(-50%); /* Firefox */
    -ms-transform: translateY(-50%);  /* Internet Explorer */
    -o-transform: translateY(-50%);  /* Opera */
} 
.sec5 .text_box_wrap .intro_section .recommend_box ul li:first-child {margin-bottom: 10px;}

.sec5 .step_box_wrap {display: flex; overflow-x:scroll; margin-top:35px; padding-left:16px;}
.sec5 .step_box_wrap .step_box {float:left; width:260px; background:#642df2; margin-right:12px; border-radius:16px; position:relative;}
.sec5 .step_box_wrap .step_box .step_text{padding:27px 20px; color:#fff;}
.sec5 .step_box_wrap .step_box .step_text .sub_tit{margin-bottom:10px; font-size: 12px;}
.sec5 .step_box_wrap .step_box .step_text h5{font-size:15px; line-height:21px;}
.sec5 .step_box_wrap .step_box .step_text .desc{font-size:12px; line-height:22px; margin-top:10px;}

.sec5 .step_box_wrap .step_box .step_img img{width:260px;}
.sec5 .step_box_wrap .step_box .step_img.img1 , .sec5 .step_box_wrap .step_box .step_img.img2 {margin-top:-95px;}
.sec5 .step_box_wrap .step_box .step_img.img3 {margin-top:-116px;}
    
.section_header {margin:65px 16px 19px;}
.section_header h3 {font-size:20px; font-weight: bold; line-height: 33px;}
.section_header p{font-size:15px; line-height: 22px; color: #666;}
.section_main .cont_item {display:flex; overflow-x: scroll; margin:0 0 25px 16px; padding:3px 0 3px 3px;}
.section_main .cont_item li {margin-right:12px; border-radius: 8px; box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.14);}

.sec6 .section_main .cont_item li .img_area img{width:260px;}
.sec6 .section_main .cont_item li .text_area {padding:20px 20px 31px;} 
.sec6 .section_main .cont_item li .text_area strong.badge{padding:3px 8px; font-size:12px; width:100%; border:1px solid #000; border-radius:4px;} 
.sec6 .section_main .cont_item li .text_area h5{font-size:16px; line-height: 24px; font-weight: bold; margin-top:14px;} 
.cont_btn{text-align: center; color:#fff; background: #222; border-radius: 8px; padding:12px 0; margin:0 16px; font-size:13px; }

.sec7 {margin-bottom:75px;}
.sec7 .section_main .cont_item li {padding:12px 24px 25px;}
.sec7 .section_main .cont_item li .img_area {width:150px; margin:0 12px;}
.sec7 .section_main .cont_item li .img_area img {width:150px;}
.sec7 .section_main .cont_item li .text_area .badge {color:#707070; font-size:13px;}
.sec7 .section_main .cont_item li .text_area .prd_title {font-size:14px; font-weight: bold; line-height: 22px;}
.sec7 .section_main .cont_item li .text_area .price_info {margin-top:22px;}
.sec7 .section_main .cont_item li .text_area .price_info .price{font-size:15px; font-weight: bold; line-height: 23px;}
.sec7 .section_main .cont_item li .text_area .price_info .service{font-size:13px; line-height: 21px;}

}



/* mobile 특이케이스 - galaxy fold (280) */
@media screen and (max-width:280px) {
.sec4 .img_area .img_02 {right:0;}
.sec4 .img_area .img_04 {left:0;}
}